<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="jumbotron card border-dark shadow bg-white text-center">
                <h1 class="display-3">Your order is on the way!</h1>
                <p class="lead">Thank you for your ordering! <strong>Please check your email </strong>for order summary.</p>
                <div class="d-flex justify-content-center">
                    <img src="../../assets/images/Truckdelv2.png" style="width: 50%;">
                </div>
                <p>
                    Having trouble? <a href="">Contact us</a>
                </p>
                <p class="lead">
                    <a class="btn btn-outline-info" href="" role="button">Continue to homepage</a>
                </p>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</div>