<div class="container-fluid">
    <div class="row py-2">
        <div class="col-sm-2"></div>

        <div class="col-sm-8 card rounded text-center">
            <h1>Your order is on the way!</h1>
            <p style="font-size:20px">Thank you for your ordering. Please check your email for order detail information.</p>
            <div class="d-flex justify-content-center">
                <img src="../../assets/images/Truckdelv2.png" style="width: 50%;">

            </div>
        </div>
        <div class="col-sm-2">

        </div>
    </div>

</div>