<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 card my-4">
        <div class="row" *ngIf="product">
            <div class="col-sm-6 py-2">
                <img style="width:100%;height:100%" src="../../assets/images/{{product.img}}" alt="">
            </div>
            <div class="col-sm-6 py-2">
                <h1 class="mt-5">{{product.name}}</h1>

                <p>{{product.des}}
                </p>
                <h2 class="text-success">${{product.price}}</h2>
                <button type="button" (click)="AddtoCart(product._id)" class="btn btn-outline-danger">Add to cart</button>

            </div>
        </div>


    </div>
    <div class="col-sm-2"></div>
</div>