<div class=" row py-5">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 card py-4">
        <h1 class="text-center text-muted pb-2">Register to SPORTSTORE</h1>

        <div class="row">
            <div class="col-sm-6">
                <form>
                    <form [formGroup]="SignupForm" (ngSubmit)="submitForm()">
                        <div class="form-group ">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username" formControlName="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" formControlName="password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password" name="cfpassword" required>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary">Sign up</button>
                            <p class="mt-2">Already have an account? <a [routerLink]="['/login']" class="" href=""> Login</a>
                        </div>
                    </form>

                </form>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/images/loginpic.png" style="width:100%;height:100%">

            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>